footer {
  .topSec {
    .contactDetails {
      .condtlItemicon {
        font-size: 20px;
      }
      .condtlItemtext {
        p {
          margin: 0;
        }
      }
    }
  }

  .divider {
    padding: 11px 0;
    .dividerin {
      height: 1px;
      background-color: #000000;
    }
  }
  .btmSec {
    p {
      margin: 0;
      a {
        color: #000;
      }
    }
  }
}
