footer {
  @include size16;
  .topSec {
    .contactDetails {
      .condtlItemicon {
        @include size20;
      }
      .condtlItemtext {
        p {
          margin: 0;
        }
      }
    }
    .contactForm {
      position: relative;
      .input {
        border: none;
        color: $black;
        padding: 14px 71px 14px 0;
        background: none;
        border-bottom: 2px solid $paleGray;
        @include size14;
        width: 100%;
      }
      .btnSec {
        position: absolute;
        top: 4px;
        right: 0;
        z-index: 3;
        .contact_submit {
          @include size14;
          background-color: $fieryRed;
          color: $white;
          border: 1px solid $fieryRed;
          padding: 8px 14px;
          transition: 0.25s all ease-in;
          &:hover {
            color: $fieryRed;
            background-color: transparent;
          }
        }
      }
    }
  }

  .divider {
    padding: 11px 0;
    .dividerin {
      height: 1px;
      background-color: $black;
    }
  }
  .btmSec {
    p {
      margin: 0;
      a {
        color: $black;
      }
    }
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.scroll_top {
  text-align: center;
  background: rgba($black, 0.4);
  text-decoration: none;
  position: fixed;
  z-index: 99999;
  bottom: 125px;
  right: 0px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: inline;
  cursor: pointer;
  font-size: 30px;
  padding: 5px;
  color: $white;
  opacity: 0;
  -webkit-animation: fadeInRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
  animation: fadeInRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

.scroll_top.show {
  opacity: 1;
  -webkit-animation: fadeInRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
  animation: fadeInRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
}
