<footer>
  <div class="container">
    <div class="topSec"></div>
    <div class="divider">
      <div class="dividerin"></div>
    </div>
    <div class="btmSec">
      <div class="row">
        <div class="copyright col-md-6 col-12">
          <p>Copyright 2022-2025. Manikaran Power Ltd. All rights reserved.</p>
        </div>
        <div class="copyrightLink col-md-6 col-12 text-md-end">
          <p>
            <a href="#" target="_self" rel="noopener">Statutory Information </a
            >| <a href="/privacy-policy">Privacy Policy</a> |
            <a href="/disclaimer" 4>Disclaimer</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
